body{
    background-color: rgb(240, 240, 124);
}
h1{
    text-align: center;
}
.hijo{
    width: 80px;
    height: 80px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(122, 129, 19);
    color:aliceblue ;
    font-size: 35px;
    text-align: center;
    margin: 2px;
}
.padre{
    display:flex;
    /* flex-direction: column; en columna */
    /* flex-direction: row-reverse; invierte el orden*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.padreDos{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
p{
    width: 88px;
    justify-content: space-around;
}
